body{
  background-color: rgb(34, 50, 76);
}
h1{
  color: white;
}
.gameTitle{
  margin: auto;
  width: 50%;
  padding: 10px;
  align-content: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
.gameOptions{
  font-family: 'Pacifico', cursive;
  margin:auto;
  text-align: center;
  width: 50%;
  padding: 10px;

}
.option{
  border: 5px solid white;
  float: left;
  text-align: center;
  margin: auto;
  padding: 30px;
  align-content: center;
  border-radius: 60%;
}
